@model IEnumerable<Express.Core.Models.ExpenseIncomeEntry>
@{
    ViewBag.Title = "ProfitAndLoss";
}

    <div id="page-wrapper">
        <h1 class="text-center text-black-50"> <b style="color:black">Profit and Loss Statement</b></h1>
        <h3 class="text-center" style="color:black"><b>@ViewBag.TableTitle</b></h3>
        @using (Html.BeginForm())
        {
            @*<p class="text-black-50 text-center">
                Start: <input type="date" name="date1" class="col-md-5" style="left: auto" /> End: <input type="date" name="date2" class="col-md-5" style="right: auto" />
                <input type="submit" value="Retrieve" />
            </p>*@
        }
        <br />
        <table class="col-md-5 table-bordered text-center" style="float: left;  line-height: 400%; border:1px solid black;">
            <tr>
                <th>Income</th>
                <th><b>Amount (N)</b></th>
            </tr>
            @foreach (var item in Model.Where(m => m.EntryType == Express.Core.Models.PandLType.Income))
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        @item.Amount.ToString("N2", System.Globalization.CultureInfo.InvariantCulture)
                    </td>
                </tr>
            }
            <tr>
                <th></th>
                <th> </th>
            </tr>
            <tr>
                <th>Total Income</th>
                @{
                    decimal sumIncome = (decimal)ViewBag.SumOfIncome;
                    <th>@sumIncome.ToString("N02")</th>
                }
            </tr>
            <tr> <th></th><th> </th> </tr>
            <tr> <th></th><th> </th> </tr>
        </table>

        <table class="col-md-5 table-bordered text-center" style="float: right; line-height: 400%;  border:2px solid black;">
            <tr>
                <th><b>Expenses</b></th>
                <th><b>Amount ($)</b></th>
            </tr>
            @foreach (var item in Model.Where(m => m.EntryType == Express.Core.Models.PandLType.Expenses))
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td>
                        @item.Amount.ToString("N02")
                    </td>
                </tr>
            }


            <tr>
                <th></th>
                <th> </th>
            </tr>
            <tr>
                <th>Total Expense</th>
                @{
                    decimal sumExp = (decimal)ViewBag.SumOfExpense;
                    <th>@sumExp.ToString("N02")</th>
                }
            </tr>
            <tr> <th></th><th> </th> </tr>
            <tr> <th></th><th> </th> </tr>
        </table>
        <p></p>
        <br />
        <p></p>
        <center>
            <table class="col-md-4 table-bordered text-center" style="line-height: 250%;  border:2px solid black;">
                <tr>
                    <th><b style="color:white">Profit/Loss</b></th>
                    @{
                        decimal p_L = (decimal)ViewBag.Profit;
                        <th><b>@p_L.ToString("N02")</b></th>
                    }

                </tr>
            </table>
        </center>
    </div>
