@using Express.Core.Models
@model IEnumerable<Express.Core.ViewModels.FinancialReportViewModel.TrialBalanceViewModel>
@{
    ViewBag.Title = "TrialBalance";
}

    <div id="page-wrapper">
        <h1 class="text-center text-black-50"> <b style="color:black">Trial Balance</b></h1>
        <center>  <h2>                       </h2></center>

        @using (Html.BeginForm())
        {
            <p class="text-black-50 text-center">
                Start: <input type="date" name="date1" class="col-md-5" style="left: auto" /> End: <input type="date" name="date2" class="col-md-5" style="right: auto" />
                <input type="submit" value="Retrieve" />
            </p>
        }

        <br />
        <table class="table table-bordered">
            <tr>
                <th style=" border: 2px solid black;"><b>Category</b></th>
                <th style=" border: 2px solid black;"><b>Sub Category</b></th>
                <th style=" border: 2px solid black;"><b>Account Name</b></th>
                <th style="border: 2px solid black;"><b>Debit</b></th>
                <th style="border: 2px solid black;"><b>Credit</b></th>
                <th style="border: 2px solid black;"><b>Balance</b></th>
            </tr>
            @foreach (var item in Model)
            {
                var res = 0m;
                <tr>
                    <td style=" border: 2px solid black;">
                        @Html.DisplayFor(modelItem => item.MainCategory)
                    </td>
                    <td style=" border: 2px solid black;">
                        @Html.DisplayFor(modelItem => item.SubCategory)
                    </td>
                    <td style=" border: 2px solid black;">
                        @Html.DisplayFor(modelItem => item.AccountName)
                    </td>
                    <td style=" border: 2px solid black;">
                        N @item.TotalDebit.ToString("N2", System.Globalization.CultureInfo.InvariantCulture)
                    </td>
                    <td style=" border: 2px solid black;">
                        N @item.TotalCredit.ToString("N2", System.Globalization.CultureInfo.InvariantCulture)
                    </td>
                    <td style=" border: 2px solid black;">
                        N
                        @if (item.MainCategory == "Liability" || item.MainCategory == "Income" || item.MainCategory == "Capital" || item.SubCategory.Contains("Customer's Loan Account"))
                        {
                            res = item.TotalCredit - item.TotalDebit;
                        }
                        else
                        {
                            res = item.TotalDebit - item.TotalCredit;
                        }
                        @res.ToString("N2", System.Globalization.CultureInfo.InvariantCulture)
                    </td>
                </tr>
            }
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th style="border: 2px solid black"><b>Total</b></th>
                <th style= "border: 2px solid black"></th>
                <th style="border: 2px solid black"></th>
                <th style="border: 2px solid black; border-radius: 20px"><b >$ @ViewBag.TotalDebit.ToString("N2", System.Globalization.CultureInfo.InvariantCulture)</b></th>
                <th style="border: 2px solid black; border-radius: 20px"><b>$ @ViewBag.TotalCredit.ToString("N2", System.Globalization.CultureInfo.InvariantCulture)</b> </th>
                <th style="border: 2px solid black"></th>
            </tr>

        </table>
    </div>

